.ReviewForm {
  height: 360px;
  width: 790px;
  display: flex;
  align-items: center;
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  margin: 20px auto;
  text-align: left;
  padding: 5px;
}

.inputTitle {
  /* position: relative;
  top: 10px; */
  width: 70%;
  height: 20px;
  border: 0px;
  border-radius: 2px;
}

.inputReview {
  height: 80%;
  width: 100%;
}

.inputContent {
  margin-top: 5px;
  border: 0px;
  border-radius: 2px;
  padding: 5px;
  height: 70%;
  width: 95%;
}
